form(action='/', method='GET')
   input(name='title', value='', type='text' required).form-control
   input(name='body', value='', type='text' required).form-control 
   input(name='url', value='', type='text' required).form-control
   input(type='submit', value='Ingresar Productos')